@import "../../../config.scss";
@import "../../../config.scss";

.button {
  margin: 0.625rem 0;
  padding: 1.25rem;
  display: inline-block;
  font-size: 1.389rem;

  @media screen and (max-width: $mobile-breakpoint) {
    display: block;
    width: 100%;
    margin: 1.25rem auto;
  }

  @media screen and (min-width: $mobile-breakpoint) and (max-width: $tablet-breakpoint) {
    width: 45%;
  }

  @media screen and (min-width: $desktop-breakpoint) {
    width: 30%;
  }
}
.active {
  background-color: $monza;
  color: $white;
}
