@import "../../config.scss";

.wrapper {
  padding: 1.25rem;
  width: 100%;
  margin: 0 auto;

  @media screen and (max-width: $mobile-breakpoint) {
    max-width: 375px;
  }

  @media screen and (min-width: $mobile-breakpoint) and (max-width: $tablet-breakpoint) {
    width: 95%;
    max-width: 768px;
  }

  @media screen and (min-width: $desktop-breakpoint) {
    width: 95%;
    max-width: 1024px;
  }
}
